:root{
    /*Background or primary color*/
    --main-back: hsl(233, 47%, 7%);
    --card-back: hsl(244, 38%, 16%);
    --accent: hsl(277, 64%, 61%);

    /*Neutra or textual colore*/
    --main-heading:hsl(0, 0%, 100%);
    --main-para:hsla(0, 0%, 100%, 0.75);
    --stat-heading:hsla(0, 0%, 100%, 0.6);

    /*Font family and weights*/
    --primary-font:'Inter',sans-serif;
    --secondary-font:'Lexend Deca',sans-serif;
    --weigt-one:400;
    --weight-two:700;
}
*,*::before,*::after{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin-left: 3vw;
    margin-right: 3vw;
    font-size: 15px;
    background: var(--main-back);
    padding: 2.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: var(--card-back);
    padding-bottom:1rem;
    border-radius: 10px;
}

img{
    height: 35vh;
    width:100vw;
}

.header{
    color:var(--main-heading);
    font-size: 6vw;
    font-family: var(--primary-font);
    font-weight: var(--weight-two);
    text-align: center;
    padding:1vw;
}

.info-para{
    text-align: center;
    color:var(--main-para);
    font-family: var(--secondary-font);
    font-weight: var(--weigt-two);
    font-size: 3.5vw;
    line-height: 6vw;
    padding:1rem;
}

.element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up-text{
    font-family: var(--primary-font);
    color: var(--main-heading);
    font-weight: var(--weight-two);
    font-size: 1.15rem;
    padding:0.5rem;
}

.down-text{
    font-family: var(--secondary-font);
    color: var(--stat-heading);
    font-weight: var(--weight-one);
    text-transform: uppercase;
    font-size: 0.6rem;
    padding:0.1rem;
}

.insights{
    color:var(--accent);
}

@media only screen and (min-width:786px) {
    body{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height:100vh;
        margin-left: 8vw;
        margin-right: 8vw;
        font-size: 15px;
        background: var(--main-back);
        padding: 2.3rem;
        max-width: 100vw;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background: var(--card-back);
        border-radius: 10px;
        padding-bottom: 0rem;
        max-width: 100vw;
    }
    img{
        height: 60vh;
        width:37vw;
        max-width: 100vw;
    }
    .header{
        color:var(--main-heading);
        font-size: 2.5vw;
        font-family: var(--primary-font);
        font-weight: var(--weight-two);
        text-align: left;
        padding-left: 5vw;
        padding-right: 10vw;
        max-width: 100vw;
    }

    .info-para{
        color:var(--main-para);
        font-family: var(--secondary-font);
        font-weight: var(--weigt-two);
        font-size: 1vw;
        padding:1rem;
        text-align:left;
        line-height: 1.5vw;
        padding-left: 5vw;
        padding-right: 10vw;
        max-width: 100vw;
    }
    .card-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        max-width: 100vw;
    }

    .element{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }

    .up-text{
        font-family: var(--primary-font);
        color: var(--main-heading);
        font-weight: var(--weight-two);
        font-size: 1.75vw;
        padding:0.5rem;
    }

    .down-text{
        font-family: var(--secondary-font);
        color: var(--stat-heading);
        font-weight: var(--weight-one);
        text-transform: uppercase;
        font-size: 0.8vw;
        padding:0.1rem;
    }
}